*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
# *.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.metadata
.settings

db.sqlite3
*~
\#*
web/.idea/
web/flipped/.idea
local_settings.py
.idea
env_osx
.python-version
