body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.wysihtml5-sandbox {
    direction:rtl;
}

.controls input {
	height: 28px;
}

#id_content {
	width: 400px;
}

.wideTextInput {
    width:50%;
}

.btn-primary {
    width: 300px;
    height: 70px;
    text-align: center;
    font-size: xx-large;
}