body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.wysihtml5-sandbox {
    direction:rtl;
}

.controls input {
	height: 28px;
}

#id_content {
	width: 400px;
}

.wideTextInput {
    width:50%;
}

.btn-xlarge {
	width: 25%;
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }