{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<div class="container">
    {{form.media}}

    <form action="/core/add-video/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="fieldWrapper">
            {{ form.item.label_tag }}
            <input type="text" id="subtree_search" value="" class="input">
        </div>
        <div id="subtree">
        </div>
        <input type="submit"
               value="{% if form.edited_id.value %}{% trans 'Update' %}{% else %}{% trans 'Add' %}{% endif %}"/>
    </form>
</div>

<link rel="stylesheet" href="{% static 'jstree/dist/themes/default/style.min.css' %}">
<link rel="stylesheet" href="{% static 'jstree/dist/themes/default-dark/style.min.css' %}">
<script src="{% static 'jstree/dist/jstree.min.js' %}"></script>

<script>
$(function () {
  $('#subtree').jstree({'plugins' : [ 'search' ],
  'core' : {
      'data' : {{ jstree_data | safe }}
  } }).on("select_node.jstree", function(e,data) {
      console.log(data.node)
      document.getElementById('id_item').value = data.node.original.real_id;
      document.getElementById('subtree_search').value = data.node.text;
  });
  var to = false;
  $('#subtree_search').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#subtree_search').val();
      $('#subtree').jstree(true).search(v);
    }, 250);
  });
});

</script>

{% endblock %}
