{% extends "common/base.html" %}
{% block content %}

{% load staticfiles %}
{% load i18n %}

<script type="text/javascript" src="/static/wysihtml5/js/advanced.js"></script>
<script type="text/javascript" src="/static/wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-wysihtml5.js"></script>

{{form.media}}
<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="container-fluid">
		<form action="/core/add-video/" method="post">
			{% csrf_token %}
			{# Include the hidden fields #}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			{# Include the visible fields #}
			{% for field in form.visible_fields %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{% trans field.label_tag %} {{ field }}
			</div>
			{% endfor %}
			<p>
				<input type="submit" value="הוסף" />
			</p>
		</form>
	</div>
	<!-- /container -->
</div>

{% endblock %}
