{% extends "common/base.html" %}
{% block content %}

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="container-fluid">
		<h1><a href="../../topic/{{ item.parent.id }}/">{{ item.parent }}</a>
                <h1>{{ item.title }}</h1>
	        {% if videos %}	
	        <ul>
       		{% for video in videos %}
	            <li><a href="../../videos/{{ video.id }}/">{{ video }}</a></li>
        	{% endfor %}
        	</ul>
	        {% endif %}

        </div> <!-- /container -->
</div>

{% endblock %}




