{% extends "common/base.html" %}
{% load i18n %}
{% block content %}

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="container-fluid">
            {% if ancestors %}
            {% for ancestor in ancestors %}
            <a href="../../topic/{{ ancestor.id }}/">{{ ancestor }}</a> >>
            {% endfor %}
            {% endif %}

            <h1>{{ item.title }}</h1>
	        {% if videos %}
		        <ul>
	       		{% for video in videos %}
		            <li><a href="../../videos/{{ video.id }}/">{{ video }}</a>, {% trans 'uploaded by' %}: {{ video.user.get_full_name }}, <br>
		               <span>{% trans 'technical quality' %}:</span>
	                   <span id="rate_quality_{{ video.id }}"></span>
	                   <span>{% trans 'relevancy' %}:</span>
	                   <span id="rate_rel_{{ video.id }}"></span>
		            </li>
		            <script>
	                        showRating('rate_quality_{{ video.id }}',{{ video.quality_rating.count }},{{ video.quality_rating.average }});
	                        showRating('rate_rel_{{ video.id }}',{{ video.relevancy_rating.count }},{{ video.relevancy_rating.average }});
	                </script>
	        	{% endfor %}
	        	</ul>
        	{% else %}
        	   <h3><a href="{% url 'core:add_video' %}"><font color="#F1AE47">{% trans 'Be the first to upload a video' %}</font></a></h3>
	        {% endif %}
			<div class="row">
        		{{item.description | safe}}
        </div>
        </div> <!-- /container -->
</div>

{% endblock %}




