{% extends "common/base.html" %}
{% block content %}
        <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="container-fluid">
        {% if ancestors %}
        {% for ancestor in ancestors %}
        <a href="../../topic/{{ ancestor.id }}/">{{ ancestor }}</a> >>
        {% endfor %}
        {% endif %}

        <h1>{{ topic.title }}</h1>
        <div id="subtree">
        </div>
        <div class="row">
        	{{topic.description | safe}}	
        </div>
        </div> <!-- /container -->
</div>

  <script>
  $(function () {
    $('#subtree').jstree({'core' : {
        'data' : [
            {% for entity in subtree %}
                { "id" : "{{ entity.id }}", 
                {% if topic.id == entity.parent_id %}
                    "parent" : "#", 
                {% else %}
                    "parent" : "{{ entity.parent_id }}", 
                {% endif %}
                "text" : "{{ entity }} ({{ entity.video_count }})",
                {% if entity.entity_type == 'topic' %}
                    "a_attr" : { "href" : "{% url 'core:topic_view' entity.id %}" },
                {% else %}
                    "a_attr" : { "href" : "{% url 'core:item_view' entity.id %}" },
                {% endif %} 
                "state" : { "opened" : true } },
            {% endfor %}
        ]
    } }).on("select_node.jstree", function(e,data) {
        document.location.href = data.node.a_attr.href;
    });
  });
  </script>
{%endblock %}



