{% load staticfiles %}

{% include "common/top.html" %}

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="container-fluid">
        {% if ancestors %}
        {% for ancestor in ancestors %}
        <a href="../../topic/{{ ancestor.id }}/">{{ ancestor }}</a> >>
        {% endfor %}
        {% endif %}

        <h1>{{ topic.title }}</h1>
        <ul>
        {% for key, value in subtree.items %}
            <li><a href="../../topic/{{ key.id }}/">{{ key }}</a></li>
            {% if value.items %}            
            <ul>
            {% for key, value in value.items %}
                <li><a href="../../topic/{{ key.id }}/">{{ key }}</a></li>
                {% if value.items %}            
                <ul>
                {% for key, value in value.items %}
                    <li><a href="../../topic/{{ key.id }}/">{{ key }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        </ul>
        {% if item_list %}
        <h2>פריטים בנושא זה</h2>
        <ul>
        {% for item in item_list %}
            <li><a href="../../item/{{ item.id }}/">{{ item }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        </div> <!-- /container -->
</div>



