{% extends "common/base.html" %}
{% load i18n %}
{% block content %}
        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="container-fluid">
                <h1>
                    {%trans 'hello' %} {{ user.get_full_name }}
                </h1>

                {% if videos %}
                <h2>
                    {%trans 'the videos you uploaded:' %}
                    <a href="{% url 'core:add_video' %}">{% trans 'upload video' %}</a>
                </h2>
                <ul>
                {% for video in videos %}
                    <li><a href="{% url 'core:video_detail' video.id %}">{{ video }}</a>,
                       <span>{% trans 'technical quality' %}:</span>
                       <span id="rate_quality_{{ video.id }}"></span>
                       <span>{% trans 'relevancy' %}:</span>
                       <span id="rate_rel_{{ video.id }}"></span>
                    </li>
                    <script>
                            showRating('rate_quality_{{ video.id }}',{{ video.quality_rating.count }},{{ video.quality_rating.average }});
                            showRating('rate_rel_{{ video.id }}',{{ video.relevancy_rating.count }},{{ video.relevancy_rating.average }});
                    </script>
                {% endfor %}
                </ul>
                {% else %}
                <a href="{% url 'core:add_video' %}">{% trans 'upload video' %}</a>
                {% endif %}

                <h2>
                    <a href="{% url 'fc_user:password_change' %}" >{%trans 'change your password' %}</a>
                </h2>
            </div>
        </div>
{%endblock %}



