{% extends "common/base.html" %}
{% load flip_filters %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<h4>תגיות</h4>
				{% for t in video.tagvideo_set.all %}
				<div class="topic_button">
					<a class="btn btn-info btn-medium">{{t.tag.name}} ({{t.tag.get_video_count}})</a>
				</div>
				{% endfor %}
			</div>
				
			<div class="span10 mini-layout-body">

				<h1>{{ video.video_title }}</h1>
				<p>הועלה על ידי <a href="/fc_user/users/{{video.user.id}}">{{video.user.first_name}} {{video.user.last_name}}</a>
					  בתאריך {{video.upload_date.day}} ל{{video.upload_date.month | heb_month }} {{video.upload_date.year}}
					  {% if perms.core.change_videopage %}
						(<a href="/core/edit-video/{{video.id}}/">ערוך</a>) 
					  {% endif %}
					  </p>
				<p>
					<span><b>{% trans 'technical quality' %}</b></span>
					<span class="badge badge-success">{{rate_quality.count}}</span>
					{% for x in rate_quality.average|range %}
    	             	<i class="icon-star"></i>
    	             {% endfor %}
    	             {% for x in rate_quality.average|range_to:10 %}
    	             	<i class="icon-star-empty"></i>
    	             {% endfor %}
    	             <span><b>{% trans 'relevancy' %}</b></span>
    	             <span class="badge badge-success">{{rate_rel.count}}</span>
    	             {% for x in rate_rel.average|range %}
    	             	<i class="icon-star"></i>
    	             {% endfor %}
    	             {% for x in rate_rel.average|range_to:10 %}
    	             	<i class="icon-star-empty"></i>
    	             {% endfor %}
    	             
				</p>
				<p>
			            {% if ancestors %}
			            {% for ancestor in ancestors %}
			            {% if forloop.first %} {% else %} >> {% endif %}<a href="../../topic/{{ ancestor.id }}/">{{ ancestor }}</a> 
			            {% endfor %}
			            {% endif %}
				</p>

				<iframe width="800" height="500" src="//www.youtube.com/embed/{{ video.youtube_movie_id }}" frameborder="0" allowfullscreen></iframe>

                <div class="mini-layout-body">
                {{ video.content | safe }}
                </div>
                {% if user.is_authenticated %}
                    <form id="rate_video_form">
					<div class="control-group">
						<label class="control-label" for="id_quality">איכות טכנית:</label>
						<div class="controls field-quality">
    	                	<input class="rating" id="rating_quality" name="rating_quality" type="number" data-max="10" data-min="1" value="{{rate_quality.cur}}"/>
	                    </div>
        			</div>
        			<div class="control-group">
						<label class="control-label" for="id_relevance">רלבנטיות:</label>
						<div class="controls field-relevance">
    	                	<input class="rating" id="rating_rel" name="rating_rel" type="number" data-max="10" data-min="1" value="{{rate_rel.cur}}"/>
	                    </div>
        			</div>            	
        			{% csrf_token %}
					<p><input type="submit" value="{% trans 'rate' %}">
						<span id="form_result" class="hidden">
						<span id="form_result" class="label label-success">
						הדירוג נשלח בהצלחה
						</span>
						</span>	
					</p>
					</form>
					<script>
						function isLegal(rate) {
							return (!isNaN(rate) && rate >= 1 && rate <= 10);
						}
						$("#rate_video_form").submit(function() {
							var rating_quality = $("#rating_quality").val();
							var rating_rel = $("#rating_rel").val();
							if (!isLegal(rating_quality) || !isLegal(rating_rel)) {
								alert('Rating is not legal');
								return false;
							}
							$.ajax({
								url : '/core/videos/rate/{{video.id}}/',
								method : 'POST',
								data : {
									rating_quality : rating_quality,
									rating_rel : rating_rel,	
									csrfmiddlewaretoken : $("#rate_video_form input[name=csrfmiddlewaretoken]").val()
								},
								success : function(data) {
									$("#form_result").removeClass("hidden");
									setTimeout(function() {
      									$("#form_result").addClass("hidden");
									}, 3000);
								},
								error : function(xhr,status,err ) {
									alert(status + ' : ' + err + '\n' + xhr.responseText);
								}
							});
							return false;
						});
					</script>                    
                {% endif %}
			</div>
		</div>
		<!-- /container -->
	</div>
</div>
{% endblock %}
ערוך
