{% extends "common/base.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>שיעור פתוח - ליצור, ללמד, ללמוד</h1>
            <h3>מה אנחנו מנסים לעשות?</h3>
            <p>אנחנו רוצים שלכל תלמיד ומורה תהיה גישה קלה ונוחה למגוון של סרטונים לימודיים, שאותם יוכלו לשלב בלימודיהםאנחנו רוצים שלכל תלמיד ומורה תהיה גישה קלה ונוחה למגוון של סרטונים לימודיים, שאותם יוכלו לשלב בלימודיהם ולצורכיהם.</p>

            <h3>איך?</h3>
            <p>מיקור המונים. כל אחד יכול להעלות סרטון שמצא ביוטיוב או יצר בעצמו למקום המתאים בתכנית הלימודים. כך נוצר מאגר סרטונים רחב ומתעדכן שמאפשר למורים ולתלמידים לאתר בקלות ובמהירות את הסרטון הטוב ביותר עבורו.</p>

            <h3>אני מחפש סרטון</h3>
            <p>הדרך הכי פשוטה למצוא סרטון מסוים הוא להיכנס לתכנית הלימודים בנושא הרלוונטי, ולגלוש לפרק שמעניין אותך. שם תוכל למצוא את כל הסרטונים שהועלו בנושא.</p>

            <h3>למה מופיעים רק מקצועות מסוימים?</h3>
            <p>צריך להתחיל במקום כלשהו. אנחנו מקווים להמשיך ולהתרחב אבל כרגע מתמקדים בתחומים הללו. אנחנו תמיד מחפשים מורים או תלמידים שירצו לעזור לנו ביצירת תכניות הלימודים ובהעלאת סרטונים. רוצים שנוסיף נושא מסוים? רוצים לעזור? כתבו לנו.</p>

            <h3>אני רוצה להעלות סרטון</h3>
            <p>אין פשוט מזה. התחבר או הרשם לאתר. לחץ על ״העלאת סרטון״ בתפריט העליון, שם תמצא הנחיות להמשך.</p>

            <h3>איך מקליטים סרטון?</h3>
            <p>בדף הראשי תמצא לחצן "איך ליצור סרטון". שם יש סרטונים על דרכים פשוטות להקליט סרטונים במחשב הביתי.</p>

            <h3>מי אנחנו?</h3>
            <p>מתנדבי "שיעור פתוח" פועלים בסיוע
                <a href="https://wiki.hasadna.org.il/index.php?title=%D7%A2%D7%9E%D7%95%D7%93_%D7%A8%D7%90%D7%A9%D7%99">הסדנא
                    לידע ציבורי</a>
                (
                <a href="https://wiki.hasadna.org.il/index.php?title=%D7%A9%D7%99%D7%A2%D7%95%D7%A8_%D7%A4%D7%AA%D7%95%D7%97">לפרטים
                    נוספים</a>
                ). האתר בנוי בקוד פתוח, נטול אינטרסים מסחריים ויהיה חינם לצמיתות.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class=" embed-responsive embed-responsive-16by9">
                <iframe src="//www.youtube.com/embed/4aiNo3UfpNM" frameborder="0"
                        class="embed-responsive-item"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}