{% extends "common/base.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="container-fluid">
	    <h1>שיעור פתוח - ליצור, ללמד, ללמוד</h1>
	    <h3>מה אנחנו מנסים לעשות?</h3>
	    <p>אנחנו רוצים שלכל תלמיד ומורה תהיה גישה קלה ונוחה למגוון של סרטונים לימודיים, שאותם יוכלו לשלב בלימודיהם ולצורכיהם.</p>
	    
	    <h3>איך?</h3>
	    <p>מיקור המונים. כל אחד יכול ליצור סרטון לימודי ולהעלות אותו למקום המתאים בתכנית הלימודים. כל מי שמעוניין יצפה בסרטון ומדרג אותו. באופן זה נוצר מאגר רחב ומתעדכן שמאורגן סביב תכנית הלימודים ומאפשר לכל אחד למצוא מהר את הסרטון הטוב ביותר שמתאים לו.</p>
	    
	    <h3>אני מחפש סרטון</h3>
	    <p>הדרך הכי פשוטה למצוא סרטון מסוים הוא להכנס לתכנית הלימודים בנושא הרלוונטי, ולגלוש לפרק שמעניין אותך. שם תוכל למצוא את כל הסרטונים שהועלו בנושא.</p>
	    
	    <h3>למה רק פיזיקה ומחשבים?</h3>
	    <p>צריך להתחיל במקום כלשהו. אנחנו מקווים להמשיך ולהתרחב אבל כרגע מתמקדים בשני התחומים הללו. רוצים שנוסיף נושא מסוים? כתבו לנו.</p>
	    
	    <h3>אני רוצה להעלות סרטון</h3>
	    <p>אין פשוט מזה. התחבר או הרשם לאתר. לחץ על ״העלאת סרטון״ בתפריט העליון, שם תמצא הנחיות להמשך.</p>
	    
	    <h3>איך מקליטים סרטון?</h3>
	    <p>בדף הראשי תמצא לחצן "איך ליצור סרטון". שם יש סרטונים על דרכים פשוטות להקליט סרטונים במחשב הביתי.</p>
	    
	    <h3>מי אנחנו?</h3>
        <p>מתנדבי "שיעור פתוח" פועלים בסיוע
            <a href="http://wiki.hasadna.org.il/index.php?title=%D7%A2%D7%9E%D7%95%D7%93_%D7%A8%D7%90%D7%A9%D7%99">הסדנא לידע ציבורי</a>
            (
            <a href="http://wiki.hasadna.org.il/index.php?title=%D7%A9%D7%99%D7%A2%D7%95%D7%A8_%D7%A4%D7%AA%D7%95%D7%97">לפרטים נוספים</a>
            ). האתר בנוי בקוד פתוח, נטול אינטרסים מסחריים ויהיה חינם לצמיתות.
        </p>
        <p><a href="mailto:info@the-openclass.org">צור קשר</a></p>
	    
	    <iframe width="500px" height="300px" src="//www.youtube.com/embed/4aiNo3UfpNM" frameborder="0" allowfullscreen></iframe>    
	</div>    
</div>

{% endblock %}