{% extends "common/base.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="container-fluid">
        <h1>אנחנו רוצים שיהיו סרטונים לימודיים בחינם לכולם. רוצה לעזור?</h1>
        <h2>אני רוצה לעזור ויש לי...</h2>
        <dl class="dl-horizontal">
            <dt>חמש שניות?</dt>
            <dd>דרג/י</dd>
            <dt>עשר שניות?</dt>
            <dd>שתף/י</dd>
            <dt>חצי דקה?</dt>
            <dd><a href="{% url 'core:add_video' %}">העלה/י סרטון</a></dd>
            <dt>עשר דקות?</dt>
            <dd>כתוב/י תקציר. <a href="mailto:info@the-openclass.org">{% trans 'contact us' %}</a></dd>
            <dt>שעתיים?</dt>
            <dd><a href="{% url 'core:video_detail' 37 %}">הקלט/י סרטון</a></dd>
            <dt>יותר?</dt>
            <dd>כתוב/י תכנית לימודים. <a href="mailto:info@the-openclass.org">{% trans 'contact us' %}</a></dd>
        </dl>
    </div>
</div>

{% endblock %}