{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="container-fluid">
	    <h1>{% trans 'Welcome' %}</h1>
	    <h3>{% trans 'Please feel free to view the video items' %}</h3>
	    <div class="row">
	       <div class="span4 btn-group-vertical">
	           {% for topic in topics %}
	               <a href="{% url 'core:topic_view' topic.id %}" class="btn btn-primary btn-xlarge" role="button">{{ topic }}</a>
	           {% endfor %}
	       </div>
	       <div class="span1"></div>
	       <div class="span5">
	            <iframe width="100%" height="300px" src="//www.youtube.com/embed/4aiNo3UfpNM" frameborder="0" allowfullscreen></iframe>
                <h3><a href="/static/common/files/שיעור הפוך - מדריך למורה.pdf">{% trans 'teachers guide' %}</a></h3>
	       </div>
	       
        </div>
        
        <h3>{% trans 'Uploaded recently:' %}</h3>
        <div class="row">
        {% for video in feed %}
            <div class="span2">
            <a href="{% url 'core:video_detail' video.id %}">
            <img src="http://img.youtube.com/vi/{{ video.youtube_movie_id }}/0.jpg" width="100%">
            {{ video.video_title }}</a> <br>
            {% trans 'published' %} {{ video.upload_date | date:'j/n/y' }}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}