<div class="container">
    <hr>
            <div class="row">
                <div class="span4">
                    <h3>פרוייקט "שיעור הפוך"</h3>
                    <p>"שיעור הפוך" (flipped classroom) היא טכניקת למידה שבה התלמידים צופים בשיעור בבית, ומבצעים את שיעורי הבית בכיתה, בהדרכת המורה. ב"שיעור הפוך" התלמידים לומדים בקצב אישי, ונעזרים במורה בעת פתרון התרגילים.</p>
                </div>
                <div class="span4">
                    <h3>מי אנחנו?</h3>
                    <p>מתנדבי "שיעור הפוך" פועלים במסגרת
                    <a href="http://example.com">הסדנא לידע ציבורי</a>
                . האתר בנוי בקוד פתוח, נטול אינטרסים מסחריים ויהיה חינם לצמיתות.
                    </p>
                </div>

                <div class="span4">
                    <h3>רוצה לעזור?</h3>
                    <p>
                        אתם מוזמנים להעלות סרטונים, לדרג את התוכן, ולעזור לנו לפתח את הקוד של האתר ב
                        <a href="https://github.com/adamatan/flip_classroom_hackathon">גיטהאב</a>
                    </p>
                </div>
            </div>

<footer>
    <a href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
התוכן באתר ברשיון קריאייטיב קומונס. תנאי השימוש בסרטונים מפורטים באתר יוטיוב
    </a>
 </footer>

</div>

</body>
</html>
