{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} {% trans 'Open Class' %}</title>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=hebrew,latin">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'normalize-css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}">
</head>

<body>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'common:home' %}"><img alt="The Open Classroom" src="{% static 'img/logo-small-inverse.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Search box' %}">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {% trans 'Search' %}</button>
            </form>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">{% trans 'Not a student?' %}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><img style="height: 75px;" id="logo-img" alt="open-class-logo"
                                           src="{% static 'img/logo-small-inverse.png' %}"></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'teach topics' %}<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for topic in topics %}
                            <li><a href="{% url 'core:topic_view' topic.id %}">{{ topic }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'core:add_video' %}"><font color="#F1AE47">{% trans 'upload video' %}</font></a>
                    </li>
                    <li><a href="{% url 'common:help' %}">{% trans 'want to help?' %}</a></li>
                    <li><a href="{% url 'common:about_us' %}">{% trans 'about us' %}</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_active %}
                    <li><a href="{% url 'core:user_view' %}">{% trans 'hello' %} {{user.first_name}}</a></li>
                    <li><a href="{% url 'fc_user:logout' %}">{% trans 'log out' %}</a></li>
                    {% else %}
                    <li><a href="{% url 'fc_user:login' %}">{% trans 'log in' %}</a></li>
                    <li><a href="{% url 'fc_user:register' %}">{% trans 'sign up' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
-->