{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }} - {% trans 'Open Class' %}</title>
    {% else %}
    <title>{% trans 'Open Class' %}</title>
    {% endif %}

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=hebrew,latin">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'normalize-css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}">
</head>

<body>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'common:home' %}"><img alt="The Open Classroom"
                                                                        src="{% static 'img/logo-small-inverse.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search" id="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Search box' %}">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    aria-hidden="true"></span> {% trans 'Search' %}
                </button>
            </form>

            <ul class="nav navbar-nav navbar-left">
                {% if user.is_active %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.get_full_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="add-video"><a href="{% url 'core:add_video' %}"><span class="glyphicon glyphicon-upload"
                                                                                      aria-hidden="true"></span>
                            <strong>{% trans 'upload video' %}</strong></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'common:teacher' %}">{% trans 'Creators area' %}</a></li>
                        <li><a href="{% url 'core:user_view' %}">{% trans 'my videos' %} </a></li>
                        <li><a href="{% url 'fc_user:logout' %}">{% trans 'log out' %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li id="add-video"><a href="{% url 'core:add_video' %}"><span class="glyphicon glyphicon-upload"
                                                                              aria-hidden="true"></span> <strong>{% trans 'upload video' %}</strong></a></li>
                {% url 'common:teacher' as teacher_url %}
                {% if request.path_info != teacher_url %}
                <li><a href="{{ teacher_url }}">{% trans 'Creators area' %}</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
$(function() {
  $('form#search').submit(function(event) {
    event.preventDefault();
    window.location = "{% url 'core:search' %}" + "?q=" + $('input').val();
  });
});




</script>
<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><img style="height: 75px;" id="logo-img" alt="open-class-logo"
                                           src="{% static 'img/logo-small-inverse.png' %}"></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if user.is_active %}
                    <li><a href="{% url 'core:user_view' %}">{% trans 'hello' %} {{user.first_name}}</a></li>
                    <li><a href="{% url 'fc_user:logout' %}">{% trans 'log out' %}</a></li>
                    {% else %}
                    <li><a href="{% url 'fc_user:login' %}">{% trans 'log in' %}</a></li>
                    <li><a href="{% url 'fc_user:register' %}">{% trans 'sign up' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
-->