<div class="container">
    <hr>
            <div class="row">
                <div class="span4">
                    <h3>פרוייקט "שיעור פתוח"</h3>
                    <p>שיעור פתוח ייצור באמצעות 
                    <a href="http://he.wikipedia.org/wiki/%D7%9E%D7%99%D7%A7%D7%95%D7%A8_%D7%94%D7%9E%D7%95%D7%A0%D7%99%D7%9D">מיקור המונים</a>
                     מאגר תכנים לימודיים מקיף ועדכני שיאפשר לכל תלמיד בעל גישה לאינטרנט ללמוד באופן עצמאי ככל הניתן את כל התכנים והתחומים הנלמדים בתיכון, ויאפשר לכל מורה בתיכון לאתר בקלות ולהשתמש באופן מושכל בתכנים לימודיים על מנת לייעל את ניצול הזמן שלו בכיתה.</p>
                </div>
                <div class="span4">
                    <h3>מי אנחנו?</h3>
                    <p>מתנדבי "שיעור פתוח" פועלים בסיוע
                    <a href="http://wiki.hasadna.org.il/index.php?title=%D7%A2%D7%9E%D7%95%D7%93_%D7%A8%D7%90%D7%A9%D7%99">הסדנא לידע ציבורי</a>
                       (
                    <a href="http://wiki.hasadna.org.il/index.php?title=%D7%A9%D7%99%D7%A2%D7%95%D7%A8_%D7%A4%D7%AA%D7%95%D7%97">לפרטים נוספים</a>
                    ). האתר בנוי בקוד פתוח, נטול אינטרסים מסחריים ויהיה חינם לצמיתות.
                    </p>
                    <a href="mailto:info@the-openclass.org">צור קשר</a>
                </div>

                <div class="span4">
                    <h3>רוצה לעזור?</h3>
                    <p>
                        אתם מוזמנים להעלות סרטונים, לדרג את התוכן, ולעזור לנו לפתח את הקוד של האתר ב-
                        <a href="https://github.com/adamatan/flip_classroom_hackathon">GitHub</a>.
                    </p>
                </div>
            </div>

<footer>
    <a href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img src="/static/common/img/CC-BY-NC.png" />
התוכן באתר ברשיון קריאייטיב קומונס. תנאי השימוש בסרטונים מפורטים באתר יוטיוב
    </a>
 </footer>

</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46460590-2', 'the-openclass.org');
  ga('send', 'pageview');

</script>

</body>
</html>
