{% load staticfiles %}
{% load i18n %}

<footer>
    <div class="container top-buffer">
        <hr>
        <ul class="list-inline text-center list-inline-spread">
            <li><a href="{% url 'common:about_us' %}">{% trans 'about us' %}</a></li>
            <li><a href="{% url 'common:help' %}">{% trans 'want to help?' %}</a></li>
            <li><a href="mailto:info@the-openclass.org">{% trans 'contact us' %}</a></li>
        </ul>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/">
            <img src="{% static 'img/CC-BY-NC.png' %}"/>
            התוכן באתר ברשיון קריאייטיב קומונס.
        </a>
        <a href="https://www.youtube.com/t/terms">
	 תנאי השימוש בסרטונים מפורטים באתר יוטיוב
	</a>
	<a href="https://policies.google.com/privacy">
	תנאי הפרטיות של גוגל
	</a>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', {% if debug %} 'UA-46460590-1' {% else %} 'UA-46460590-2' {% endif %}, 'the-openclass.org');
  {% if ancestors %}
    var page = "/{{ ancestors.0.id }}" + document.location.pathname;
    ga('set', 'page', page);
  {% elif topic %}
    var page = "/{{ topic.id }}" + document.location.pathname;
    ga('set', 'page', page);
  {% endif %}
  ga('send', 'pageview');

  /**
  * Function that tracks a click on an outbound link in Analytics.
  * This function takes a valid URL string as an argument, and uses that URL string
  * as the event label. Setting the transport method to 'beacon' lets the hit be sent
  * using 'navigator.sendBeacon' in browser that support it.
  */
  var trackOutboundLink = function(url) {
     ga('send', 'event', 'outbound', 'click', url, {
       'transport': 'beacon',
       'hitCallback': function(){document.location = url;}
     });
  }
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ede337b184b492"
        async="async"></script>

</body>
</html>
