{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }} - {% trans 'Open Class' %}</title>
    {% else %}
    <title>{% trans 'Open Class' %}</title>
    {% endif %}

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=hebrew,latin">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">

    <script type="application/ld+json">
    {% if ld_json %}
    {
        "@context": "http://schema.org",
        "@graph":
        [
        {{ ld_json | safe }}
        ,{
    {% else %}
    {
        "@context": "http://schema.org",
    {% endif %}
        "@type": "WebSite",
        "name": "The Open Class",
        "alternateName": "שיעור פתוח",
        "url": "http://the-openclass.org",
        "author": {
            "@type": "Organization",
            "url": "http://the-openclass.org",
            "logo": "http://the-openclass.org{% static 'img/logo-small-inverse.png' %}",
            "contactPoint": [{
                "@type": "ContactPoint",
                "email": "info@the-openclass.org",
                "contactType": "customer service",
                "url": "http://the-openclass.org"
            }]
        },
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://the-openclass.org/core/search/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    {% if ld_json %}
    ]}
    {% endif %}
    </script>
</head>

<body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'common:home' %}"><img alt="The Open Classroom"
                                                                        src="{% static 'img/logo-small-inverse.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search" id="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Search box' %}">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    aria-hidden="true"></span> {% trans 'Search' %}
                </button>
            </form>

            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans 'Syllabuses' %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://docs.google.com/document/d/1vl2h7DQxOE6qqgTsdY71CvzUBIVaZT_7kYtMs9BO7rg/edit?usp=sharing">{% trans 'Mathematics 5 units' %}</a></li>
                        <li><a href="https://docs.google.com/document/d/1AJOeI1UOEdOYqGXIH301sH_T0SBlfeR7LXw7jsKp9ew/edit?usp=sharing">{% trans 'Mathematics 4 units' %}</a></li>
                    </ul>
                </li>
                <li id="add-video"><a href="{% url 'core:add_video' %}"><span class="glyphicon glyphicon-upload"
                                                                              aria-hidden="true"></span> <strong>{% trans 'upload video' %}</strong></a></li>
                {% if user.is_active %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.get_full_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'common:teacher' %}">{% trans 'Creators area' %}</a></li>
                        <li><a href="{% url 'core:user_view' %}">{% trans 'my videos' %} </a></li>
                        <li><a href="{% url 'fc_user:logout' %}">{% trans 'log out' %}</a></li>
                    </ul>
                </li>
                {% else %}
                {% url 'common:teacher' as teacher_url %}
                {% if request.path_info != teacher_url %}
                <li><a href="{{ teacher_url }}">{% trans 'Creators area' %}</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
$(function() {
  $('form#search').submit(function(event) {
    event.preventDefault();
    window.location = "{% url 'core:search' %}" + "?q=" + $('input').val();
  });
});
</script>
