{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="page-header">
        <h1>{% trans "John's syllabus" %}<br>
        </h1>
    </div>

    {% for video in feed %}
    <div class="row">
        <div class="col-xs-1 col-md-1">
            {{ forloop.counter }}
        </div>
        <div class="col-xs-2 col-md-3">
            <a href="{% url 'core:item_view' video.teach_item.id %}">
            {{ video.teach_item }}
            </a>
        </div>
        <div class="col-xs-2 col-md-3">
            <a href="{% url 'core:video_detail' video.id %}">
            {{ video.video_title }}
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{% url 'core:video_detail' video.id %}">
                 <img src="https://img.youtube.com/vi/{{ video.youtube_movie_id }}/0.jpg" class="img-responsive">
            </a>
            <br />
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
