{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'common/css/stylesheet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap-rtl.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap-responsive-rtl.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'common/css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}" />

<script src="{% static 'common/js/jquery.2.0.3.min.js' %}"></script>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">♲ שיעור הפוך</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">עמוד ראשי</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">נושאי לימוד<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">פיזיקה</li>
                                    <li><a href="#">מכניקה</a></li>
                                    <li><a href="#">חשמל</a></li>
                                    <li><a href="#">אופטיקה</a></li>
                                    <li><a href="#">פיזיקה מודרנית</a></li>

                                    <li class="divider"></li>
                                    <li class="nav-header">מדעי המחשב</li>
                                    <li dir="ltr"><a href="#">משתנים ולולאות</a></li>
                                    <li dir="ltr"><a href="#">חישוביות וסיבוכיות</a></li>
                                    <li dir="ltr"><a href="#">C#</a></li>
                                    <li dir="ltr"><a href="#">Java</a></li>

                                    <li class="divider"></li>
                                    <li class="nav-header">מתמטיקה</li>
                                    <li dir="ltr"><a href="#">נגזרת ואינטגרל</a></li>
                                    <li dir="ltr"><a href="#">טריגונומטריה</a></li>
                                    <li dir="ltr"><a href="#">בעיות מקסימום-מינימום</a></li>
                                    <li dir="ltr"><a href="#">חקירת פונקציה</a></li>
                                </ul>
                            </li>

                            <li><a href="#about">בחינות בגרות</a></li>
                            <li><a href="#contact">העמוד שלי</a></li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="שם משתמש">
                            <input class="span2" type="password" placeholder="סיסמא">
                            <button type="submit" class="btn">התחבר</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
