html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 150px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.push-footer {
    height: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.navbar {
    min-height: 60px;
}

.navbar .navbar-collapse {
    padding-top: 5px;
}

.navbar-brand {
    padding: 3px 0px 0px 0px;
}

.navbar-brand>img {
    height: 110%;
    width: auto;
}

.top-buffer {
    margin-top:20px;
}

.bottom-buffer {
    margin-bottom:20px;
}

@media (min-width: 768px) {
/*
 * Row with equal height columns
 * http://getbootstrap.com.vn/examples/equal-height-columns/
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.row-eq-height .panel {
    -webkit-flex: 1;
    flex: 1;
}
}

.list-inline-spread>li {
    padding-right: 15px;
    padding-left: 15px;
}

.wysihtml5-sandbox {
    direction:rtl;
}

.controls input {
	height: 28px;
}

.vLargeTextField {
	width: 400px;
}

.wideTextInput {
    width:50%;
}

#add-video>a{
    color: #E19E37;
}

#add-video a:hover {
    color: #FFBD5B;
}
