[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
"django-bootstrap3" = "*"
django-debug-toolbar = "*"
django-extensions = "*"
Fabric = "*"
newrelic = "*"
"progressbar2" = "*"
"psycopg2" = "*"
requests = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "2.7"
