appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
Django==1.8.11
django-debug-toolbar==1.4
django-extensions==1.2.5
django-floppyforms==1.6.2
django-wysihtml5==1.2b1
ecdsa==0.10
enum34==1.1.6
Fabric==1.8.1
idna==2.5
ipaddress==1.0.18
ipython==1.1.0
packaging==16.8
paramiko==2.1.2
psycopg2==2.6.1
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.2.0
pytz==2015.7
requests==2.2.1
six==1.10.0
sqlparse==0.1.18
