{% extends "common/base.html" %}
{% block content %}
{% load i18n %}

<div class="container">
    <div class="page-header">
        <h1>{% trans 'Please login' %}</h1>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            {% if form.errors %}
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="{% url 'fc_user:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <p>
                    <input type="submit" value="{% trans 'Login' %}" class="btn btn-success"/>
                </p>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}



